RONIN_RPC_URL=https://api.roninchain.com/rpc
RONIN_CHAIN_ID=2020
SAIGON_CHAIN_ID=202601
BOT_MODE=OFF
DATABASE_URL="file:./dev.db"
TRADING_PRIVATE_KEY=
DRY_RUN=true
ALLOW_UNLIMITED_APPROVAL=false
REQUIRE_MANUAL_APPROVAL=true
